<!-- 13.1 when click on link then show data -->  
<% layout("/layouts/boilerplate")%>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>"
    const listing =<%-JSON.stringify(listing)%>;
   
</script>
<body> <br>
    <!-- 13 show listings -->
    <body>
  <div class="listing-container ">
    <h3 class="listing-title"><%= listing.title %></h3>

    <div class=" listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
      <div class="card-body">
        <ul class="list-details">
          <p>Owned by - <i><%= listing.owner.username %></i></p>
          <p><b><%= listing.description %></b></p>
          <p>₹<%= listing.price.toLocaleString("en-IN") %> /-</p>
          <p><%= listing.location %> , &nbsp;<%= listing.country %></p>

        </ul>

        <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
<div class="list-btns d-flex gap-2 align-items-center">
  <a class="btn btn-dark px-3 py-1" href="/listings/<%= listing._id %>/edit">Edit</a>
  <form method="POST" class="mb-0" action="/listings/<%= listing._id %>?_method=DELETE">
    <button class="btn btn-dark px-3 py-1">Delete</button>
  </form>
</div>



        <% } %>
      </div>
    </div>
<!-- review form -->
    <% if (currUser) { %>
      <div class="review-form mt-3 ">
        <h4>Leave a Review</h4>
 
        <div class="d-flex flex-wrap gap-2 align-items-center mt-2">
 <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
  <div class="d-flex flex-wrap align-items-center gap-2">
    <!-- Stars -->
     
<div class="rating-stars d-flex gap-1 align-items-center">
<% for(let i = 5; i >= 1; i--) { %>
    <input type="radio" name="review[rating]" id="star<%= i %>" value="<%= i %>" required hidden />
    <label for="star<%= i %>"><i class="fa fa-star"></i></label>
  <% } %>
</div>

    <!-- Comment box -->
    <textarea name="review[comment]" class="form-control" rows="1" placeholder="Write a comment..." style="min-width: 200px; max-width: 300px;" required></textarea>

    <!-- Submit button -->
    <button class="btn btn-dark btn-sm">Submit</button>
  </div>
</form>
</div>
      </div>
    <% } %>
<!-- show reviews -->
   <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-3 mt-1 ">

  <% for (review of listing.reviews) { %>
  <div class="col">
  <div class="p-2">
    <p class="mb-1 fw-semibold"><%= review.author.username %></p>
<p class="text-warning mb-1">
  <% for(let i = 1; i <= review.rating; i++) { %>
    ⭐
  <% } %>
</p>
    <p class="mb-1"><%= review.comment %></p>
    <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
      <button class=" btn btn-dark btn-sm">Delete</button>
    </form>
  </div>
</div>

  <% } %>
</div>

    <h3 class="mt-4">Where you'll be</h3>
    <div id="map"></div>
  </div>

  <script src="/js/map.js"></script>
</body>

</html>